 .display {
   background-color: rgba(233, 233, 233, 0.7);
   background-position: center;
   background-size: cover;
 }

 .userProducts {
   height: 100%;
   background-color: rgb(200, 226, 226, 0.5);
   box-shadow: -0em 0em 0.5em 0.3em rgb(147, 146, 146);
   border-radius: 2px;
   font-style: oblique;
 }

 .userpage {
   font-weight: 900;
   font-size: xx-large;
   color: rgb(62, 60, 60);
 }

 .myOrders {
   background-color: white;
 }

 .itemLine {
   color: rgb(24, 33, 5);
 }

 .img {
   height: 10em;
   width: 100%;
 }

 .viewmore:hover {
   text-decoration: underline;
   font-style: oblique;
 }

 .btnTrolley {
   background-color: rgb(154, 121, 185);
   border-color: whitesmoke;
   border: none;
   font-weight: 900;
   font-size: larger;
   color: whitesmoke;
 }

 .btnTrolley:hover {
   background-color: rgba(154, 121, 185, 0.9);
 }

 .btnDis {
   background-color: rgb(149, 107, 189);
   color: rgb(225, 222, 215);
 }

 .btnDis:hover {
   background-color: rgb(53, 4, 99, 0.6);
   color: rgb(229, 213, 185);
 }

 .btnEmpty {
   background-color: white;
   font-size: larger;
   font-weight: bold;
 }

 .btnEmpty:hover {
   background-color: rgb(173, 136, 207);
   color: white;
   font-weight: bold;
 }

 .backBtn {
   font-size: .7em;
   font-weight: bold;
 }

 .backBtn:hover {
   text-decoration: underline;
 }

 .line {
   color: rgba(45, 1, 1, 0.9);
 }

 .signInpage {
   background-color: rgb(243, 243, 243);
 }

 .inputContainer {
   background-color: white;
   height: fit-content;
 }

 .loginButton {
   background-color: rgb(156, 104, 205);
   font-weight: 900;
   font-size: large;
   height: 2.5em;
   width: 80%;
   border-radius: 3px;
 }

 .label {
   font-weight: bold;
   font-size: large;
   color: rgb(75, 73, 73);
 }

 .dlabel {
   font-size: medium;
   font-weight: 700;
 }

 .rightarrow {
   color: rgb(54, 12, 12);
   size: 5em;
 }

 .link {
   color: black;
 }

 .link:hover {
   text-decoration: none;
 }

 .regButton {
   font-weight: 900;
   border-color: rgb(175, 120, 226);
   color: rgb(154, 121, 185);
   width: 60%;
   border-radius: 2px;
 }

 .regButton:hover {
   background-color: rgb(79, 53, 101);
   transition: ease-in-out 0.2s;
 }

 .userAccount {
   font-weight: 900;
   background-color: rgb(156, 104, 205);
   color: white;
   width: 50%;
   border-radius: 2px;
   border: none;
 }

 .personal_Address {
   font-weight: 800;
   font-size: xx-large;
   color: rgb(47, 47, 47);
 }

 .userAccount:hover {
   background-color: rgba(156, 104, 205, .7);
   transition: ease-in-out 5ms;
 }

 .input {
   border: 0.2px solid rgb(94, 93, 93);
   height: 3em;
   border-radius: 3px;
 }

 .input:hover {
   border: 2px solid rgb(2, 2, 2);
 }

 .name {
   border: 0.2px solid rgb(94, 93, 93);
   height: 2em;
   border-radius: 3px;
 }

 .name:hover {
   border: 2px solid rgb(2, 2, 2);
 }

 .description {
   font-weight: 900;
   font-size: xx-large;
   color: rgb(75, 73, 73);
 }

 .modalAlert {
   border-radius: 4px;
 }

 .personalInput {
   border-radius: 3px;
   border: 1px solid black;
 }

 .datetime {
   border: 1px solid blueviolet;
   border-radius: 3px;
   background-color: rgb(223, 214, 232);
   justify-content: space-between;
   align-items: center;
 }

 .addressButton {
   text-decoration: underline;
 }

 .addressButton:hover {
   text-decoration: none;
 }

 .navbar {
   /* position: fixed; */
   /* top: 0;
   left: 0; */
   width: 100%;
   background-color: rgb(236, 233, 239);
 }

 .inputSearch {
   border: 1px solid black;
   border-radius: 3px;
 }

 .navaccount {
   font-size: .8em;
 }

 .navaccount:hover {
   text-decoration: underline;
 }