 body {
   font-family: 'Arial', sans-serif;
   background-color: #f4f4f4;
 }

 .inventory {
   margin: 0 auto;
   padding: 0.5rem 2rem;
   padding-bottom: 2rem;
 }

 .inventory__navbar {
   background-color: #2c3e50;
   padding: 1rem 0;
   align-items: center;
   margin-bottom: 2rem;
 }

 .inventory__navbar-title {
   font-size: 1.5rem;
   color: #fff;
   text-align: center;
   margin: 1rem 0;
 }

 .inventory__navbar-actions {
   display: flex;
   justify-content: space-between;
 }

 .inventory__navbar-btn {
   background: none;
   border: none;
   color: #fff;
   cursor: pointer;
   display: flex;
   align-items: center;
   gap: 0.5rem;
   transition: 0.3s all;
 }

 .inventory__navbar-btn:hover {
   color: #3498db;
 }

 .inventory__navbar-icon {
   font-size: 1.2rem;
 }

 .inventory__navbar-cart {
   position: relative;
 }

 .inventory__navbar-cart-count {
   position: absolute;
   top: -10px;
   right: -10px;
   background-color: #e74c3c;
   padding: 0.2rem 0.5rem;
   border-radius: 50%;
   font-size: 0.8rem;
   color: #fff;
 }

 .inventory__navbar-search {
   margin-top: 1rem;
 }

 .inventory__search-input {
   width: 100%;
   padding: 0.7rem;
   border-radius: 5px;
   border: 1px solid #ddd;
 }

 .inventory__alert {
   justify-content: center;
 }

 .inventory__alert-content {
   color: #fff;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   background-color: #e74c3c;
   padding: 1rem;
   border-radius: 5px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
 }

 .inventory__alert-close {
   right: 0;
   top: 0;
   background: none;
   border: none;
   color: #fff;
   cursor: pointer;
   font-size: 1.2rem;
 }

 .inventory__products {
   gap: 1rem;
   justify-content: center;
 }

 .inventory__product {
   background-color: #fff;
   padding: 1rem;
   width: 20em;
   border-radius: 5px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   text-align: center;
 }

 .inventory__product-name {
   font-size: 1rem;
   font-weight: 600;
   color: #2c3e50;
   margin-bottom: 1rem;
 }

 .inventory__product-actions {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;
   margin-bottom: 1rem;
 }

 .inventory__product-btn {
   background-color: #3498db;
   color: #fff;
   border: none;
   padding: 0.5rem 0.5rem;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s all;
 }

 .inventory__product-btn:hover {
   background-color: #2980b9;
 }

 .inventory__product-input {
   width: 4em;
   text-align: center;
   border: 1px solid #ddd;
   border: none;
 }

 .inventory__product-more {
   background-color: #e74c3c;
   color: #fff;
   border: none;
   padding: 0.5rem 1rem;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s all;
 }

 .inventory__product-more:hover {
   background-color: #c0392b;
 }

 .inventory__footer {
   background-color: #2c3e50;
   color: #ffffff;
   padding: 10px 0;
   text-align: center;
   position: relative;
   bottom: 0;
   margin-top: 2%;
   margin-bottom: 0;
   width: 100%;
 }

 .inventory__footer-text {
   font-size: 14px;
 }

 .signInpage {
   font-family: 'Arial', sans-serif;
   background-color: #f4f4f4;
 }

 .navbar {
   background-color: #2c3e50;
   padding: 1rem 0;
   margin-bottom: 2rem;
 }

 .navbar-col {
   align-items: center;
 }

 .navbar-button {
   background: none;
   border: none;
   color: #fff;
   cursor: pointer;
   display: flex;
   align-items: center;
   gap: 0.5rem;
   transition: 0.3s all;
 }

 .navbar-button:hover {
   color: #3498db;
 }

 .modal-alert {
   background-color: #e74c3c;
   color: #fff;
   padding: 1rem;
   border-radius: 5px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   justify-content: center;
   margin-bottom: 1rem;
 }

 .modal-content {
   display: flex;
   align-items: center;
 }

 .alert-icon {
   font-size: 1.5rem;
 }

 .close-modal {
   position: absolute;
   right: 0;
   top: 0;
   background: none;
   border: none;
   color: #fff;
   cursor: pointer;
   font-size: 1.2rem;
 }

 .header-row {
   margin-bottom: 1rem;
 }

 .description {
   font-size: 1.5rem;
   color: #2c3e50;
 }

 .form-inputs {
   background-color: #fff;
   padding: 1rem;
   border-radius: 5px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   margin-bottom: 1rem;
 }

 .input-label {
   font-weight: 600;
   color: #2c3e50;
   margin-bottom: 0.5rem;
 }

 .input-field {
   width: 100%;
   padding: 0.7rem;
   border-radius: 5px;
   border: 1px solid #ddd;
   margin-bottom: 0.5rem;
 }

 .submit-button {
   background-color: #3498db;
   color: #fff;
   border: none;
   padding: 0.5rem 1rem;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s all;
   display: inline-block;
 }

 .messagebtn button {
   background-color: transparent;
   color: #3498db;
   border: none;
   padding: 0.5rem 1rem;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s all;
   display: inline-block;
 }

 .submit-button:hover {
   background-color: #2980b9;
 }

 .messagebtn button:hover {
   text-decoration: underline;
 }

 .signup-prompt {
   margin-top: 1rem;
 }

 .prompt-text {
   font-size: 1rem;
   color: #2c3e50;
   text-align: center;
   margin-bottom: 0.5rem;
 }

 .action-text {
   text-align: center;
 }

 .signup-button {
   background: none;
   border: none;
   color: #3498db;
   cursor: pointer;
   display: inline-block;
   transition: 0.3s all;
 }

 .signup-button:hover {
   color: #2980b9;
 }

 .details-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   padding: 2rem 0;
 }

 .details-content {
   padding: 1.5rem 2rem;
   border: 2px solid #5a67d8;
   border-radius: 10px;
   box-shadow: 0 8px 25px rgba(90, 103, 216, 0.1);
   background-color: #f7f9fc;
   color: #2c3e50;
   font-size: 1.4rem;
   font-weight: 500;
   transition: all 0.3s ease-in-out;
   text-transform: uppercase;
   letter-spacing: 1px;
   text-align: center;
 }

 .details-content:hover {
   transform: scale(1.05);
   box-shadow: 0 12px 30px rgba(90, 103, 216, 0.2);
 }

 .back-row {
   display: flex;
   justify-content: start;
   align-items: center;
 }

 .back-col {
   padding: 0.5rem 2rem;
 }

 .back-button {
   display: flex;
   align-items: center;
   font-size: 1.3em;
   background-color: transparent;
   border: none;
   padding: 0.5rem 1rem;
   cursor: pointer;
   transition: background-color 0.3s ease-in-out;
 }

 .back-button:hover {
   background-color: rgba(0, 0, 0, 0.05);
 }

 .back-icon {
   margin-right: 0.5rem;
 }


 .trolley-title-btn {
   background: none;
   border: none;
   color: #fff;
   cursor: pointer;
   display: flex;
   align-items: center;
   transition: 0.3s all;
 }

 .trolley-modal-row {
   justify-content: center;
   align-items: center;
   margin-top: 1rem;
 }

 .trolley-modal-col {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;
   border-radius: 5px;
   color: white;
   background-color: rgb(24, 34, 4);
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
 }

 .btn-empty {
   background-color: #e74c3c;
   color: #fff;
   border: none;
   padding: 0.5rem 1rem;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s all;
   margin: 1rem;
 }

 .btn-empty:hover {
   background-color: #c0392b;
 }

 .trolley-summary-row {
   display: flex;
   justify-content: space-between;
   margin: 2rem 0;
 }

 .trolley-table,
 .order-summary-table {
   background-color: #fff;
   border-radius: 5px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
 }

 .trolley-empty-row {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 200px;
   background-color: #f9f9f9;
   margin-top: 2rem;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
   border-radius: 5px;
 }

 .trolley-empty-row .col {
   padding: 1rem;
 }

 .trolley-empty-row span {
   font-size: 1.2em;
   font-weight: 600;
   color: #7b7b7b;
 }


 .welcome-section {
   margin: 2rem 0;
 }

 .welcome-title {
   font-size: 1.8rem;
   color: #2c3e50;
   margin-bottom: 1rem;
 }

 .welcome-subtitle {
   font-size: 1.2rem;
   color: #7b7b7b;
 }

 .user-action-section {
   background-color: #fff;
   padding: 1rem;
   border-radius: 5px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   justify-content: center;
 }

 .action-box {
   margin: 1rem 0;
   text-align: center;
 }

 .action-description {
   color: #7b7b7b;
   margin-bottom: 1rem;
 }

 .action-btn {
   background-color: #3498db;
   color: #fff;
   padding: 0.5rem 1rem;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   display: flex;
   align-items: center;
   gap: 0.5rem;
   transition: 0.3s all;
 }

 .action-btn:hover {
   background-color: #2980b9;
 }

 .user-settings-section {
   margin-top: 2rem;
   gap: 1rem;
   justify-content: space-around;
 }

 .settings-box {
   background-color: #fff;
   padding: 1rem;
   border-radius: 5px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
 }

 .settings-btn {
   display: block;
   width: 100%;
   border: none;
   background-color: transparent;
   text-align: left;
   padding: 0;
   cursor: pointer;
 }

 .settings-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 1rem;
 }

 .settings-title {
   font-size: 1.2rem;
   color: #2c3e50;
 }

 .settings-description {
   color: #7b7b7b;
   text-align: center;
 }

 .centered-row {
   display: flex;
   justify-content: center;
 }

 .centered-text {
   text-align: center;
 }

 .header-title {
   font-size: 1.7rem;
   font-weight: 600;
   letter-spacing: 0.5px;
   color: #34495e;
   margin-bottom: 2rem;
   padding-bottom: 0.5rem;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
   text-align: center;
 }

 .info-text {
   color: #34495e;
   margin-bottom: 1rem;
 }

 .white-background {
   background-color: white;
 }

 .form-container {
   display: flex;
   justify-content: center;
   padding: 1.5rem;
   margin: 2.5rem 0;
 }

 .input-section {
   margin: 1rem 0;
 }

 .input-label {
   color: #2c3e50;
   display: block;
   margin: 0.5rem 0;
 }

 .custom-input {
   width: 100%;
   padding: 0.8rem;
   border: 1px solid #bdc3c7;
   border-radius: 4px;
 }

 .centered-button-section {
   margin: 1.5rem 0;
   text-align: center;
 }

 .action-button {
   padding: 0.6rem 1.5rem;
   border: none;
   cursor: pointer;
   font-size: 1rem;
   border-radius: 4px;
   transition: background-color 0.3s ease;
 }

 .save-button {
   background-color: #27ae60;
   color: white;
 }

 .save-button:hover {
   background-color: #2ecc71;
 }

 .cancel-button {
   background-color: #e74c3c;
   color: white;
 }

 .cancel-button:hover {
   background-color: #c0392b;
 }

 .orders-row {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 2rem;
 }

 .orders-header {
   font-size: 1.7rem;
   font-weight: 600;
   color: #34495e;
   margin-bottom: 1.5rem;
   text-align: center;
 }

 .order-toggle {
   border-radius: 4px;
   margin-top: 1rem;
   background-color: white;
   border: 1px solid #ecf0f1;
   padding: 1rem;
   width: 100%;
   border: none;
   cursor: pointer;
   font-weight: 500;
   color: #34495e;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .order-icon {
   font-size: 1.5rem;
 }

 .order-details {
   overflow-x: auto;
   margin-top: 1rem;
   justify-content: center;
 }

 .item-image img {
   height: 5em;
   width: 5em;
   object-fit: cover;
   border-radius: 4px;
 }

 .no-orders {
   text-align: center;
   padding: 2rem 0;
 }

 .no-orders-text {
   margin-bottom: 1rem;
   color: #7f8c8d;
   font-size: 1.2rem;
 }

 .shop-now-btn {
   padding: 0.7rem 1.5rem;
   background-color: #2980b9;
   color: white;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s ease;
 }

 .shop-now-btn:hover {
   background-color: #3498db;
 }

 .admin-input-row {
   border: 1px solid #34495e;
   padding: 1rem;
   margin: 1rem 0;
   align-items: center;
   justify-content: center;
 }

 .admin-input-col,
 .admin-btn-col {
   padding: 0.5rem;
 }

 .admin-input {
   width: 100%;
   padding: 0.5rem;
   border-radius: 4px;
   border: 1px solid #bdc3c7;
   text-align: center;
 }

 .admin-input::placeholder {
   color: #7f8c8d;
 }

 .admin-add-btn {
   width: 100%;
   padding: 0.5rem;
   border-radius: 4px;
   border: none;
   background-color: #2980b9;
   color: white;
   cursor: pointer;
   transition: background-color 0.3s ease;
 }

 .admin-add-btn:hover {
   background-color: #3498db;
 }

 .admin-line-col {
   padding: 0;
 }

 .admin-line {
   margin: 0.5rem 0;
   border-color: #bdc3c7;
 }

 .admin-products-row {
   margin-top: 1rem;
   gap: 1rem;
   justify-content: space-evenly;
 }

 .admin-product-col {
   border: 1px solid #bdc3c7;
   border-radius: 4px;
   padding: 1rem;
   text-align: center;
 }

 .product-container {
   border: 1px solid #bdc3c7;
   padding: 1rem;
   margin-bottom: 1rem;
   background-color: white;
 }

 .product-header {
   font-weight: bold;
   font-size: 1.4rem;
   color: #34495e;
 }

 .product-divider {
   border-color: #bdc3c7;
 }

 .product-field {
   margin: 0.5rem 0;
 }

 .product-input {
   width: 100%;
   padding: 0.5rem;
   border-radius: 4px;
   border: 1px solid #bdc3c7;
   text-align: center;
 }

 .product-actions {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .btn-delete,
 .btn-edit,
 .btn-save,
 .btn-cancel {
   padding: 0.5rem 1rem;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   transition: 0.3s;
 }

 .btn-delete,
 .btn-cancel {
   background-color: #e74c3c;
   color: white;
 }

 .btn-delete:hover,
 .btn-cancel:hover {
   background-color: #c0392b;
 }

 .btn-edit {
   background-color: #f39c12;
   color: white;
 }

 .btn-edit:hover {
   background-color: #d76519;
 }

 .btn-save {
   background-color: #2ecc71;
   color: white;
 }

 .btn-save:hover {
   background-color: #27ae60;
 }

 .item-image {
   display: flex;
   justify-content: center;
 }

 .item-image img {
   width: 10em;
   height: 10em;
 }

 .inventory__product img {
   width: 15em;
   height: 10em;
   border-radius: 2.4px;
 }



 /* .inventory__alert {
   background-color: #ffcc00;
   color: #333;
   border: 1px solid #e6e6e6;
   border-radius: 5px;
   padding: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   animation: fadeOut 4s linear forwards;
 }

 .inventory__alert-content {
   display: flex;
   align-items: center;
 }

 .inventory__alert-close {
   background: none;
   border: none;
   cursor: pointer;
   color: #888;
   font-size: 18px;
   margin-left: 10px;
 }

 @keyframes fadeOut {
   0% {
     opacity: 1;
   }

   100% {
     opacity: 0;
   }
 } */