.display {
  background-color: rgba(251, 247, 247, 0.7);
  background-position: center;
  background-size: cover;
}

.userProducts {
  height: fit-content;
  background-color: rgba(108, 107, 107, 0.2);
  box-shadow: -0em 0em 0.5em 0.3em rgb(147, 146, 146);
}

.image {
  height: 10em;
  width: 100%;
}

.viewmore:hover {
  text-decoration: underline;
  font-style: oblique;
}

.welcome {
  font-style: oblique;
  color: rgba(75, 42, 42, 0.9);
}

.btnTrolley {
  background-color: rgba(166, 217, 235, 0.34);
  border-color: whitesmoke;
  border: none;
}

.btnTrolley:hover {
  background-color: rgba(211, 236, 245, 0.34);
}

.btnDis {
  background-color: rgb(59, 57, 57);
  color: wheat;
}

.btnDis:hover {
  background-color: black;
  color: wheat;
}

.itemName {
  color: black;
  font-style: italic;
}

.btnEmpty {
  background-color: white;
  font-size: larger;
  font-weight: bold;
}

.btnEmpty:hover {
  background-color: rgba(194, 230, 243, 0.34);
}

.line {
  color: rgba(45, 1, 1, 0.9);
}